.card {
    background-color: aqua;
    margin: 10px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: rgb(66, 214, 36);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}